@{
    Layout = "~/Views/Shared/Dashborad.cshtml";
}
<!DOCTYPE html>
<html>
   
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="~/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <title>Admin</title>
</head>
<body>
    <div class="sidebar">
        <ul>
            <li>
                <a asp-action="Index" asp-controller="Orders">
                    <i class="fas fa-shopping-cart"> Orders</i>
                    @* <div>Orders</div> *@
                </a>
            </li>

            <li>
                <a asp-action="Index" asp-controller="IceCream1">
                    <i class="fas fa-ice-cream"> Products</i>
                    @* <div>Products</div> *@
                </a>
            </li>

            <li>
                <a asp-action="Graph" asp-controller="Orders">
                    <i class="fas fa-money-bill"> Earnings</i>
                   @*  <div>Earnings</div> *@
                </a>
            </li>

            <li>
                <a asp-controller="OrderDetails" asp-action="OrderDetalisGraph">
                    <i class="fas fa-cogs"> Setting</i>
                   @*  <div>Setting</div> *@
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fas fa-question-circle"> Help</i>
                    @* <div>Help</div> *@
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-percent"> Deals & Discounts</i>
                    @* <div>Deals & Discounts</div> *@
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fas fa-store"> Activity </i>
                    @* div>Employees</div> *@
                </a>
            </li>

        </ul>
        
    </div>
    <div class="main">
        <div class="cards">
            <div class="card">
                <div class="card-content">
                    <div class="numbers">$1000</div>
                    <div class="card-name">
                        Sales for today
                        <div class="icon-box">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="numbers">25</div>
                    <div class="card-name">
                        Employees
                        <div class="icon-box">
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="numbers">10</div>
                    <div class="card-name">
                        statistics
                        <div class="icon-box">
                            <i class="fas fa-chart-line"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="charts">
            <div class="chart">
                <h2> Earnings (past 12 months)</h2>
                <canvas id="lineChart"></canvas>
            </div>
            <div class="chart" id="doughnut-chart">
                <h2>Social Media</h2>
                <canvas id="doughnut"></canvas>
            </div>
        </div>
    </div>
    <script src="
https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js
"></script>
<script src="~/js/chart.js"></script>
<script src="~/js/chart2.js"></script>
       
</body>
</html>
