body {
    /* הגדרות ל-body כאן */
}

.circle {
    width: 150px; /* הגודל של התמונה עגולה */
    height: 150px; /* הגודל של התמונה עגולה */
    background-color: #000; /* צבע רקע עבור העיגול (אפשר לשנות לצבע רקע אחר) */
    border-radius: 50%; /* המאפיין שמגדיר את התמונה כעיגול */
    overflow: hidden; /* מניעת הצגת חלקים מחוץ לעיגול (נוצר על ידי border-radius) */
}

    .circle img {
        width: 100%; /* התמונה תתמקמה במלואה של העיגול */
        height: auto; /* מניעת הכיווץ של התמונה */
        display: block; /* מניעת הוספת שורות ריקות מסביב לתמונה */
    }
