@{
    Layout = "~/Views/Shared/_LayoutHeadFooter.cshtml";
}

<!DOCTYPE html>
<html lang="en" style="background-color: black; color: white;">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>ICEPACE - Enjoy the Sweetness</title>
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Hexashop Ecommerce HTML CSS Template</title>

    <style>
        
        body {
            background-color: #000; /* הגדרת הצבע לשחור */
            color: #fff; /* הגדרת הצבע ללבן */
        }
        .product-info {
            position: absolute;
            background-color: rgba(0, 0, 0, 0.8);
            color: #fff;
            padding: 10px;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .thumb:hover .product-info {
            opacity: 1;
        }

        .video-container {
            width: 100%;
            max-width: 100vw; /* הגבל את הרוחב לרוחב העמוד */
            height: auto; /* השאר את הגובה אוטומטי */
            overflow: hidden;
            margin-top: 20px; /* הוסף מרווח עליון של 20 פיקסלים */
        }

        video.w-100 {
            width: 100%;
            height: 816px; /* גובה נמוך ביחס 21:9 */
        }

        .video-container {
            overflow: hidden;
            border-radius: 20px; /* כללי עיגול */
        }

            .video-container video {
                width: 100%;
                height: auto;
                display: block;
            }

     
    </style>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="assets/css/owl-carousel.css">

    <link rel="stylesheet" href="assets/css/lightbox.css">
    <!--

    TemplateMo 571 Hexashop

    https://templatemo.com/tm-571-hexashop

    -->
</head>

<body style="background-color: black; color: white;">

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Main Banner Area Start ***** -->
    <div  id="top">
        <!-- Embedding a video with autoplay and muted for background -->
       
        <div class="video-container" style="background-color: black; color: white;">
            <video class="w-100" autoplay loop muted>
                <source src="/assets/images/logo4.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

    </div>
    <!-- ***** Main Banner Area End ***** -->
  

    <!-- ***** Explore Area Starts ***** -->
    <section class="section" id="explore">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <h2 style="color: white;">Explore Our Products</h2>
                        <span>Step into the cosmos of flavor with our "Explore Area" at IcePace, where your taste buds embark on an interstellar journey like no other. Here, we've crafted a celestial collection of ice creams inspired by the wonders of space.</span>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i><p style="color: white;">From Galactic Gobstopper, a swirling blend of cosmic colors, to Nebula Nectar, a heavenly fusion of exotic fruits, every scoop is a voyage through the universe of taste..</p>
                        </div>
                        <p >In addition to our special star series, you can enjoy our usual and amazing ice cream flavors. Flavors like chocolate, vanilla and strawberry, that everyone can enjoy!</p>
                   
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="leather" style="border-radius: 10px; padding: 20px; background: white;">

                                    <h4>The Star Series</h4>
                                    <span>Insanely delicious</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="first-image">
                                    <img src="assets/images/space.jpg" alt="" style="border-radius: 20px;">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="second-image">
                                    <img src="assets/images/back.jpg" alt="" style="border-radius: 20px;">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="types" style="border-radius: 20px; padding: 10px; background: white;">
                                    <h4>Back to earth</h4>
                                    <span>For EveryOne!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Explore Area Ends ***** -->
    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/accordions.js"></script>
    <script src="assets/js/datepicker.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/isotope.js"></script>

    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

    <script>

        $(function () {
            var selectedClass = "";
            $("p").click(function () {
                selectedClass = $(this).attr("data-rel");
                $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("." + selectedClass).fadeOut();
                setTimeout(function () {
                    $("." + selectedClass).fadeIn();
                    $("#portfolio").fadeTo(50, 1);
                }, 500);

            });
        });

    </script>

</body>
</html>