
.product-title {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 30px; /* הוסף כל ערך שתבחר */
}

.product-details h2 {
    margin-bottom: 20px;
}

.product-details {
    text-align: center;
}

.product-image-container {
    max-width: 100%;
    margin-bottom: 20px;
}



.product-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin: 0 auto 20px;
    display: block;
    border-radius: 10px;
}



.product-price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.add-to-cart-btn {
    font-size: 20px;
    padding: 15px 30px;
    display: block;
    margin: 0 auto;
    background-color: lightpink;
    border: none; /* Remove the button border */
}

    .add-to-cart-btn:hover {
        background-color: #FFB6C1; /* Change the hover background color to lightpink */
        border: none; /* Remove the button border on hover */
    }

.option-img {
    width: 100px; /* Set a fixed width based on your preference */
    height: 100px; /* Set a fixed height based on your preference */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    border-radius: 5px; /* Add border-radius for rounded corners if desired */
}

.options-container {
    display: flex; /* Make the options container a flex container */
    justify-content: space-between; /* Distribute space between the options */
}

.option-label {
    text-align: center; /* Center the content within each option label */
}

#errorMessage {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FF5733;
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 1000;
}




body {
    background-color: #080710;
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

    .background .shape {
        height: 200px;
        width: 200px;
        position: absolute;
        border-radius: 50%;
    }

.shape:first-child {
    background: linear-gradient(lightpink, deeppink);
    left: -30px; /* הורזונטלית - ימין או שמאל */
    top: -30px; /* אנכית - למעלה או למטה */
    transform: translate(-20px, -10px); /* תזוזה בשני הצירים */
}

.shape:last-child {
    background: linear-gradient(to right, pink, hotpink);
    right: -30px;
    bottom: 30px;
    width: 150px; /* קובע רוחב */
    height: 150px; /* קובע גובה */
    transform: translate(30px, -20px);
}
..options-container {
    display: flex; /* Use flexbox to create a horizontal layout */
}

.option-label {
    text-align: center; /* Center the content within each option label */
    flex: 1; /* Allow each option label to grow equally within the flex container */
}

.option-img {
    width: 100%; /* Make the image fill the entire width of its container */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 5px; /* Add border-radius for rounded corners if desired */
}

